<!DOCTYPE html>
<html>
<head>
  <title>BattleShips App</title>
</head>
<body>
	<form name="submit-player" action="init_game" method="post">
		<%=@greeting%><input type="text" name="player" required>
		<button name="submit-button" type="submit">Go!</button>
	</form>
</body>
</html>

