<!DOCTYPE html>
<html>
<head>
  <title>BattleShips App</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>


	<button>
		<a id="launch-name-input" href="new_game">New Game</a>
		</button>
</body>
</html