<!DOCTYPE html>
<html>
<head>
  <title>BattleShips App</title>
</head>
<body>
	<h1>Battleships</h1>
	<h3>Welcome <%=@deploying_player%>! Deploy your ships to battle</h3> 
	<table>
		<% @target_grid.cells.each do |row| %>
			<tr>
				<% row.each do |col| %>
					<td><%= col.display(false) %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
	<form id="deploy-ships" action="/launch_game/1" method="post">
		<p>
			<%=@current_ship.class%> <label for="ship_start">Start</label>
			<input type="text" name="ship_start">
			<label for="ship_end">End</label>
			<input type="text" name="ship_end">
		</p>
		<button id="submit-ship-positions" type="submit">Deploy!</button>
		</p>	
	</form>
</body>
</html>